body {
  overflow-x: hidden;
}

.home {
  min-height: 100vh;
  width: 100vw;



}

.navbar {

min-height: 150px;
width: 1800px;
background-color:#40c7fcc0 !important

}



main {
  width: 100%;
  min-height: calc(100vh - 155px);
}
/* section {
  width: calc(100% - 20px);
  height: 50vh;
  background-color: coral;
  margin: 10px;
} */

footer {
  width: 100%;
  height: 100px;
  background-color:#40c7fcc0
}

.flex-container {
display:flex;
flex-flow:row; 
justify-content:space-between;
margin:0 auto;
background: blue;
 
}
.form-select {
width: 120px;
height:35px;
margin: 4px;

}

.origem{
width:100px; 
height:30px;
}
.destino{
width:100px;
height:30px ;

}

.data{
width: 100px;
height: 1px;

}
.btn-buscar{
width:100px;
height:30px ;

}




